/*Cacher le formulaire en respectant les bonnes pratiques d'accessibilité*/
/*aside {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
*/

aside {
  background-color: blue;
  animation-name:modalopen;
  animation-duration: 1s;
  position: fixed;
  display: none;
  align-self: center;
  padding: 10px;
  min-width: 300px;
  width:400px;
  flex-basis: 100%;
  background-color: $secondary-color;
  border-radius: 5px;
  i {
    color: #fff;
    cursor: pointer;
  }
  .top-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .btn-submit {
    @include button-style;
    text-align: center;
  }
}
.formData {
  display: flex;
  flex-direction: column;
  margin: 10px 0 10px 0;
  input {
    border: none;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 5px;
    border-radius: 5px;
  }
  .message-control {
    height: 80px;
  }
}

.error{
  color:"#fe142f";
}

@keyframes modalopen {
  from {
    opacity: 0;
    transform: translateY(-150px);
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 546px) {
 aside{
   width:300px;
 }
}
