*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}

.main-header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
  h1 {
    color: $primary-color;
    font-weight: 400;
  }
  img {
    @include logo;
  }
}

.navigation {
  position: absolute;
  margin-top: 125px;
  right: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  a {
    @include tag-style;
  }
  a:hover {
    @include tag-style-hover;
  }
}

.photographer-card {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
  img {
    height: 200px;
    width: 200px;
    border-radius: 100%;
    object-fit: cover;
  }
  h2 {
    color: $secondary-color;
    margin: 10px 0 10px 0;
    text-align: center;
    font-weight: 400;
  }
  a {
    text-decoration: none;
  }
}

.tags{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  li{
    @include tag-style;
    list-style: none;
  }
}

.photographer-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.location {
  color: $primary-color;
  display: flex;
}

.tagline {
  margin: 5px 0 5px 0;
}

.price {
  color: $third-color;
}

/*MEDIA QUERIES*/

@media screen and (max-width: 768px) {
  .main-header img {
    @include logo-mobile;
  }
  h1 {
    font-size: 25px;
  }
}

@media screen and (max-width: 576px) {
  .main-header {
    flex-direction: column;
    margin-bottom: 150px;
  }
  .navigation {
    margin-top: 100px;
  }
}

@media screen and (min-width: 1400px) {
  .navigation {
    margin-top: 0px;
  }
}
