.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.image-media {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
}

.image-card{
  margin-bottom:25px;
}

.info-card{
  color:$primary-color;
  display: flex;
  justify-content:space-between;
}

.info-container{
  display: flex;
  i{
    margin-left:10px;
  }
}




