.header-page {
  img {
    @include logo;
  }
  padding: 20px;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom:60px;
}

.image-media {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
}

.image-card {
  margin-bottom: 30px;
}

.info-card {
  color: $primary-color;
  display: flex;
  justify-content: space-between;
}

.info-container {
  display: flex;
  i {
    margin-left: 10px;
  }
}

.photographer-page {
  display: flex;
  flex-direction: column;
  padding: 0 20px 0 20px;
}

.photographer-info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
  background-color: $background-color;
  height: 240px;
  border-radius: 5px;
  h2 {
    color: $secondary-color;
    font-weight: 400;
  }
  .id-photo {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    object-fit: cover;
  }
  .tags {
    display: flex;
    flex-wrap: wrap;
  }
  .tags-list {
    @include tag-style;
    list-style: none;
  }
}

.contact-btn {
  @include button-style;
}

.contact-btn:hover {
  @include button-style-hover;
}

.photographer-work {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  p {
    margin-right: 20px;
  }
  select {
    color: white;
    background-color: $primary-color;
    padding: 10px;
    border-radius: 5px;
  }
}

.bottom-section {
  background-color: $secondary-color;
  position: fixed;
  border-radius: 5px;
  bottom: 0;
  right: 0;
  padding: 20px;
  width: 250px;
  display: flex;
  justify-content: space-between;
}

.bottom-total-likes {
  display: flex;
  align-items: center;
  #total-likes {
    margin-right:5px;
  }
}

@media screen and (max-width: 576px) {
  .header-page img {
    @include logo-mobile;
  }
  .photographer-info .id-photo {
    width: 130px;
    height: 130px;
  }
  .photographer-info {
    background-color: white;
    margin-bottom: 0;
  }
  .photographer-page {
    padding: 5px;
  }
 
}

@media screen and (max-width: 768px) {
  .contact-btn {
    position:fixed;
    bottom: 0;
    margin-bottom:30px;
  }
   .photographer-work{
    display: none;
  }
  .bottom-section{
    display: none;
  }
}
