*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}

header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}
header h1 {
  color: #901C1C;
  font-weight: 400;
}
header img {
  width: 220px;
  object-fit: cover;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
ul li {
  list-style: none;
  margin: 5px;
  border: 1px solid #525252;
  padding: 2px 5px 2px 5px;
  border-radius: 15px;
  color: #901C1C;
  cursor: pointer;
}
ul li:hover {
  color: white;
  background-color: #901C1C;
}

nav {
  position: absolute;
  margin-top: 125px;
  right: 0;
  left: 0;
}

.photographer-card {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}
.photographer-card img {
  height: 200px;
  width: 200px;
  border-radius: 100%;
  object-fit: cover;
}
.photographer-card h2 {
  color: #D3573C;
  margin: 10px 0 10px 0;
  text-align: center;
  font-weight: 400;
}
.photographer-card a {
  text-decoration: none;
}

.photographer-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.location {
  color: #901C1C;
  display: flex;
}

.tagline {
  margin: 5px 0 5px 0;
}

.price {
  color: #525252;
}

/*MEDIA QUERIES*/
@media screen and (max-width: 768px) {
  header img {
    width: 150px;
  }

  h1 {
    font-size: 25px;
  }
}
@media screen and (max-width: 576px) {
  header {
    flex-direction: column;
    margin-bottom: 150px;
  }

  nav {
    margin-top: 100px;
  }
}
@media screen and (min-width: 1400px) {
  nav {
    margin-top: 0px;
  }
}
.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.image-media {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
}

.image-card {
  margin-bottom: 25px;
}

.info-card {
  color: #901C1C;
  display: flex;
  justify-content: space-between;
}

.info-container {
  display: flex;
}
.info-container i {
  margin-left: 10px;
}

.photographer-page {
  padding: 0 20px 0 20px;
}

.photographer-info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 100px;
  background-color: #FAFAFA;
  height: 240px;
  border-radius: 5px;
}
.photographer-info h2 {
  color: #D3573C;
  font-weight: 400;
}
.photographer-info .id-photo {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  object-fit: cover;
}

.contact-btn {
  background-color: #901C1C;
  color: white;
  font-size: 20px;
  border: none;
  padding: 20px 10px 20px 10px;
  border-radius: 5px;
}

.bground {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(250, 250, 250, 0.4);
}

.content {
  margin: 5% auto;
  width: 100%;
  max-width: 450px;
  background: #D3573C;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  color: #fff;
  padding-top: 10px;
}

.modal-body {
  padding: 15px 8%;
  margin: 15px auto;
}

label {
  font-family: var(--font-default);
  font-size: 17px;
  font-weight: normal;
  display: inline-block;
  margin-bottom: 11px;
}

input {
  padding: 8px;
  border: 0.8px solid #ccc;
  outline: none;
}

.text-control {
  margin: 0;
  padding: 8px;
  width: 100%;
  border-radius: 8px;
  font-size: 20px;
  height: 48px;
}

.close {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 32px;
  height: 32px;
  opacity: 1;
  cursor: pointer;
  transform: scale(0.7);
}

@media screen and (max-width: 576px) {
  .contact-btn {
    display: none;
  }

  .photographer-info .id-photo {
    width: 150px;
    height: 150px;
  }

  .content {
    width: 300px;
  }
}

/*# sourceMappingURL=style.css.map */
