*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, sans-serif;
}

.main-header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}
.main-header h1 {
  color: #901C1C;
  font-weight: 400;
}
.main-header img {
  width: 220px;
  object-fit: cover;
}

.navigation {
  position: absolute;
  margin-top: 125px;
  right: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.navigation a {
  text-decoration: none;
  margin: 5px;
  border: 1px solid #525252;
  padding: 2px 5px 2px 5px;
  border-radius: 15px;
  color: #901C1C;
  cursor: pointer;
}
.navigation a:hover {
  background-color: #901C1C;
  color: white;
}

.photographer-card {
  width: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}
.photographer-card img {
  height: 200px;
  width: 200px;
  border-radius: 100%;
  object-fit: cover;
}
.photographer-card h2 {
  color: #D3573C;
  margin: 10px 0 10px 0;
  text-align: center;
  font-weight: 400;
}
.photographer-card a {
  text-decoration: none;
}
.photographer-card .tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.photographer-card .tags li {
  text-decoration: none;
  margin: 5px;
  border: 1px solid #525252;
  padding: 2px 5px 2px 5px;
  border-radius: 15px;
  color: #901C1C;
  cursor: pointer;
  list-style: none;
}

h2 {
  font-size: 25px;
}

h3 {
  font-size: 20px;
  font-weight: 400;
}

.country {
  margin-left: 5px;
}

.photographer-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.location {
  color: #901C1C;
  display: flex;
}

.tagline {
  margin: 5px 0 5px 0;
}

.price {
  color: #525252;
}

.hide {
  display: none;
}

.photographer-content {
  display: none;
  top: 0;
  margin-top: 30px;
  padding-bottom: 20px;
  position: fixed;
  background-color: #901C1C;
  color: white;
  font-size: 15px;
  border: none;
  padding: 15px 10px 15px 10px;
  border-radius: 5px;
  text-decoration: none;
}

.photographer-content:hover {
  background-color: #D3573C;
  color: black;
}

/*MEDIA QUERIES*/
@media screen and (max-width: 768px) {
  .main-header img {
    width: 150px;
    object-fit: cover;
  }

  h1 {
    font-size: 25px;
  }
}
@media screen and (max-width: 576px) {
  .main-header {
    flex-direction: column;
    margin-bottom: 150px;
  }

  .navigation {
    margin-top: 100px;
  }
}
@media screen and (min-width: 1400px) {
  .navigation {
    margin-top: 0px;
  }
}
.header-page {
  padding: 20px;
}
.header-page img {
  width: 220px;
  object-fit: cover;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 60px;
}

.image-media {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
}

.image-card {
  margin-bottom: 30px;
}

.info-card {
  color: #901C1C;
  display: flex;
  justify-content: space-between;
}

.info-container {
  display: flex;
}
.info-container i {
  margin-left: 10px;
}

.photographer-page {
  display: flex;
  flex-direction: column;
  padding: 0 20px 0 20px;
}

.photographer-info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
  background-color: #FAFAFA;
  height: 240px;
  border-radius: 5px;
}
.photographer-info h2 {
  color: #D3573C;
  font-weight: 400;
  font-size: 45px;
  margin-bottom: 10px;
}
.photographer-info h3 {
  margin-bottom: 5px;
}
.photographer-info .tagline {
  margin-bottom: 5px;
}
.photographer-info .id-photo {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  object-fit: cover;
}
.photographer-info .tags {
  display: flex;
  flex-wrap: wrap;
}
.photographer-info .tags-list {
  text-decoration: none;
  margin: 5px;
  border: 1px solid #525252;
  padding: 2px 5px 2px 5px;
  border-radius: 15px;
  color: #901C1C;
  cursor: pointer;
  list-style: none;
}

.contact-btn {
  background-color: #901C1C;
  color: white;
  font-size: 15px;
  border: none;
  padding: 15px 10px 15px 10px;
  border-radius: 5px;
}

.contact-btn:hover {
  background-color: #D3573C;
  color: black;
}

.photographer-work {
  display: flex;
  align-items: center;
  margin-bottom: 25px;
}
.photographer-work p {
  margin-right: 20px;
}
.photographer-work select {
  color: white;
  background-color: #901C1C;
  padding: 10px;
  border-radius: 5px;
}

.bottom-section {
  background-color: #D3573C;
  position: fixed;
  border-radius: 5px;
  bottom: 0;
  right: 0;
  padding: 20px;
  width: 250px;
  display: flex;
  justify-content: space-between;
}

.bottom-total-likes {
  display: flex;
  align-items: center;
}
.bottom-total-likes #total-likes {
  margin-right: 5px;
}

@media screen and (max-width: 576px) {
  .header-page img {
    width: 150px;
    object-fit: cover;
  }

  .photographer-info .id-photo {
    width: 130px;
    height: 130px;
  }

  .photographer-info h2 {
    font-size: 25px;
  }

  .photographer-info {
    background-color: white;
    margin-bottom: 0;
  }

  .photographer-page {
    padding: 5px;
  }
}
@media screen and (max-width: 768px) {
  .contact-btn {
    position: fixed;
    bottom: 0;
    margin-bottom: 30px;
  }

  .photographer-work {
    display: none;
  }

  .bottom-section {
    display: none;
  }
}
aside {
  animation-name: modalopen;
  animation-duration: 1s;
  position: fixed;
  display: none;
  align-self: center;
  padding: 10px;
  min-width: 300px;
  width: 400px;
  flex-basis: 100%;
  background-color: #D3573C;
  border-radius: 5px;
}
aside h1 {
  font-weight: 400;
  margin-bottom: 10px;
}
aside h3 {
  font-size: 25px;
}
aside i {
  color: #fff;
  cursor: pointer;
}
aside .top-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
aside .btn-submit {
  background-color: #901C1C;
  color: white;
  font-size: 15px;
  border: none;
  padding: 15px 10px 15px 10px;
  border-radius: 5px;
  text-align: center;
}

.formData {
  display: flex;
  flex-direction: column;
  margin: 10px 0 10px 0;
}
.formData input {
  border: none;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 5px;
  border-radius: 5px;
}
.formData .message-control {
  height: 70px;
}

.error {
  color: black;
}

@keyframes modalopen {
  from {
    opacity: 0;
    transform: translateY(-150px);
  }
  to {
    opacity: 1;
  }
}
@media screen and (max-width: 546px) {
  aside {
    width: 300px;
  }
}
.lightbox {
  display: none;
  position: fixed;
  background-color: white;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.lightbox-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}

.lightbox.show {
  display: initial;
}

.links-video {
  position: relative;
}
.links-video::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.media-type img {
  width: 400px;
  height: 400px;
}

.media-type video {
  width: 400px;
  height: 400px;
}

.lightbox-close {
  color: #901C1C;
  font-size: 30px;
  cursor: pointer;
  position: fixed;
  right: 0;
  padding: 50px;
}

.fa-chevron-right,
.fa-chevron-left {
  color: #901C1C;
  font-size: 30px;
  cursor: pointer;
}

@media screen and (max-width: 576px) {
  .media-type img {
    width: 250px;
    height: 250px;
  }

  .media-type video {
    width: 250px;
    height: 250px;
  }

  .fa-chevron-right,
.fa-chevron-left {
    font-size: 20px;
  }

  .lightbox-close {
    font-size: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
